.doctor-detail-page
  :where(.css-dev-only-do-not-override-49qm).ant-card
  .ant-card-body {
  padding: 0;
  border-radius: 0 0 8px 8px;
}

.doctor-detail-page
  :where(.css-dev-only-do-not-override-49qm).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
.doctor-detail-page
  :where(.css-dev-only-do-not-override-49qm).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  position: relative;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  text-align: center;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s ease;
}

.doctor-detail-page
  :where(.css-dev-only-do-not-override-49qm).ant-list
  .ant-list-item {
  padding: 12px 12px;
}

@media screen and (max-width: 768px) {
  .doctor-detail-page .ant-table-cell {
    padding: 9px !important;
  }
} 